*{
    /* outline: red solid 1px; */
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header{
    padding: 0 200px;
    background-color: #1F2937;
    color: white;
}

.nav-container,
.header-container,
.header-links{
    display: flex;
}

.header-container{
    padding: 120px 0;
}

.nav-container{
    padding: 18px 0 0;
    justify-content: space-between;
}

.secondary-text,
.header-links{
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo,
.hero-main-text{
    color: #F9FAF8;
}

.header-logo{
    font-size: 24px;
    font-weight: 800;
}

.header-links{
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.hero{
    width: 50%;
    padding-right: 70px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 800;
}

.header-sign-up{
    background-color: #3882F6;
    color: inherit;
    padding: 10px 35px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    border: none;
}

.image-container{
    display: flex;
    width: 50%;
    height: 229px;
}

.hero-image{
    max-width: 100%;
    height: auto;
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 300px 150px;
}

h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 50px 0;
}

.items{
    display: flex;
    gap: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box{
    width: 200px;
    height: 200px;
    border: #3882F6 solid 5px;
    border-radius: 15px;
}

.quote-section{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 150px 0; 
}

.quote-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.quote{
    margin: 0;
}

.signature{
    text-align: right;
    margin: 0;
}

.call-to-action-section{
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 100px 300px;
    padding: 50px 0;
    border-radius: 8px;
}

.call-to-action-section p{
    margin: 0;
}

.call-to-action-title{
    font-size: 24px;
    font-weight: 900;
}

.sign-up{
    align-self: center;
    background-color: #3882F6;
    color: inherit;
    padding: 8px 35px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
}